@charset "UTF-8";
/* line 1, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../scss/_base.scss */
.clear-fix::after, .container::after {
  content: "";
  display: table;
  clear: both;
}

/* line 13, ../scss/_base.scss */
.flex, header .container, nav .menu-menu-1-container ul, .image-widget {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

/* line 22, ../scss/_base.scss */
:focus {
  outline: none;
}

/* line 25, ../scss/_base.scss */
body {
  margin: 0;
}

/* line 28, ../scss/_base.scss */
img {
  max-width: 100%;
}

/* line 31, ../scss/_base.scss */
.container {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  /* line 31, ../scss/_base.scss */
  .container {
    width: 1170px;
    padding-right: 15px;
  }
}

/* line 38, ../scss/_base.scss */
p {
  padding: 5px 15px;
}

/* line 1, ../scss/components/_header.scss */
header {
  width: 100%;
  background-color: #1B3F9D;
  padding: 30px 0;
}
/* line 5, ../scss/components/_header.scss */
header .container {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
/* line 8, ../scss/components/_header.scss */
header .container .logo-image {
  width: 40%;
  text-align: left;
}
@media (max-width: 768px) {
  /* line 8, ../scss/components/_header.scss */
  header .container .logo-image {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}

/* line 1, ../scss/widgets/_header-menu.scss */
nav {
  background-color: #D7D7D7;
  border-color: #e7e7e7;
}
/* line 4, ../scss/widgets/_header-menu.scss */
nav a.toggle-menu {
  padding: 15px 0;
  background-color: #D7D7D7;
  border-bottom: 1px solid #e7e7e7;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
@media (min-width: 768px) {
  /* line 4, ../scss/widgets/_header-menu.scss */
  nav a.toggle-menu {
    display: none;
  }
}
/* line 19, ../scss/widgets/_header-menu.scss */
nav .menu-menu-1-container ul {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 24, ../scss/widgets/_header-menu.scss */
nav .menu-menu-1-container ul li {
  padding: 3% 6% 2% 6%;
  margin-top: -17px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
/* line 29, ../scss/widgets/_header-menu.scss */
nav .menu-menu-1-container ul li a {
  display: block;
  width: 100%;
  color: #000;
  font-size: 17px;
  text-decoration: none;
}
/* line 36, ../scss/widgets/_header-menu.scss */
nav .menu-menu-1-container ul li:hover {
  background-color: #fff;
  cursor: pointer;
}
@media (max-width: 768px) {
  /* line 19, ../scss/widgets/_header-menu.scss */
  nav .menu-menu-1-container ul {
    max-height: 0;
    overflow: hidden;
    text-align: center;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  /* line 46, ../scss/widgets/_header-menu.scss */
  nav .menu-menu-1-container ul li {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    -webkit-align-self: center;
    align-self: center;
  }
}
/* line 53, ../scss/widgets/_header-menu.scss */
nav .menu-menu-1-container ul.menu-expanded {
  max-height: 700px;
}

/* line 1, ../scss/widgets/_image-widget.scss */
.image-widget {
  float: left;
  text-align: right;
  width: 60%;
  min-height: 113px;
}
@media (max-width: 768px) {
  /* line 1, ../scss/widgets/_image-widget.scss */
  .image-widget {
    width: 100%;
  }
}
/* line 10, ../scss/widgets/_image-widget.scss */
.image-widget div {
  width: 21%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  /* line 10, ../scss/widgets/_image-widget.scss */
  .image-widget div {
    width: 45%;
    height: 200px;
    margin: 0;
    margin: 10px;
  }
}
@media (max-width: 380px) {
  /* line 10, ../scss/widgets/_image-widget.scss */
  .image-widget div {
    width: 90%;
    margin: 0;
    margin: 10px auto;
  }
}

/* line 1, ../scss/components/_content.scss */
.content {
  padding: 30px 0;
}
/* line 3, ../scss/components/_content.scss */
.content h2 {
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(#5e80a6, #1b3b74);
  /* ╨┐╨╛╨┤╤А╨╛╨▒╨╜╨╡╨╡ ╨┐╤А╨╛ ╨│╤А╨░╨┤╨╕╨╡╨╜╤В╤Л */
  -webkit-background-clip: text;
  /* ╨┐╨╛╨┤╤А╨╛╨▒╨╜╨╡╨╡ ╨┐╤А╨╛ background-clip */
  color: transparent;
  padding-left: 15px;
}
@media (max-width: 768px) {
  /* line 3, ../scss/components/_content.scss */
  .content h2 {
    font-size: 23px;
    padding-left: 0;
    text-align: center;
  }
}
/* line 16, ../scss/components/_content.scss */
.content p {
  font-size: 20px;
}
@media (max-width: 768px) {
  /* line 20, ../scss/components/_content.scss */
  .content img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
}

/* line 1, ../scss/components/_footer.scss */
footer {
  background-color: #587B99;
  min-height: 150px;
  clear: both;
  overflow: hidden;
  padding: 30px 0;
}
/* line 7, ../scss/components/_footer.scss */
footer .contact-info {
  width: 300px;
  float: left;
  font-size: 20px;
  padding: 0 5px 20px 15px;
  line-height: 24px;
  color: #fff;
}
/* line 14, ../scss/components/_footer.scss */
footer .contact-info h3 {
  margin-bottom: 25px;
  font-size: 26px;
  line-height: 50px;
  text-decoration: underline;
}
/* line 20, ../scss/components/_footer.scss */
footer .contact-info a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  /* line 7, ../scss/components/_footer.scss */
  footer .contact-info {
    width: 100%;
  }
  /* line 26, ../scss/components/_footer.scss */
  footer .contact-info h3, footer .contact-info a, footer .contact-info span {
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
  }
}
/* line 34, ../scss/components/_footer.scss */
footer #map {
  float: right;
  width: 700px;
  height: 170px;
}
@media (max-width: 992px) {
  /* line 34, ../scss/components/_footer.scss */
  footer #map {
    width: 100%;
  }
}
