@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0; }

img {
  max-width: 100%; }

.container {
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

header {
  width: 100%;
  background-color: #1B3F9D;
  padding: 30px 0;
  clear: both;
  overflow: hidden; }
  header img#logo {
    float: left;
    width: 265px;
    height: auto; }

.navbar-default {
  background-color: #D7D7D7;
  border-color: #e7e7e7;
  margin-bottom: 0; }
  .navbar-default .header-menu {
    width: 900px;
    margin: 0 auto;
    position: relative;
    text-align: center; }
    .navbar-default .header-menu ul {
      width: 100%;
      display: table; }
      .navbar-default .header-menu ul li {
        display: table-cell; }
        .navbar-default .header-menu ul li:hover {
          background-color: #fff; }
        .navbar-default .header-menu ul li a {
          padding: 12px 60px;
          color: #000;
          text-decoration: none;
          display: block; }
          .navbar-default .header-menu ul li a:hover {
            background-color: #fff;
            border-top: 14px solid white;
            margin-top: -14px; }
    @media (min-width: 1200px) {
      .navbar-default .header-menu {
        width: 1170px; } }

.image-widget {
  float: left;
  text-align: right; }
  .image-widget div {
    display: inline-block;
    width: 180px;
    height: 114px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px; }
  @media (min-width: 1200px) {
    .image-widget {
      width: 905px; } }

.content {
  padding: 30px 0; }
  .content h2 {
    font-weight: bold;
    font-size: 30px;
    background: linear-gradient(#5E80A6, #1B3B74);
    /* ╨┐╨╛╨┤╤А╨╛╨▒╨╜╨╡╨╡ ╨┐╤А╨╛ ╨│╤А╨░╨┤╨╕╨╡╨╜╤В╤Л */
    -webkit-background-clip: text;
    /* ╨┐╨╛╨┤╤А╨╛╨▒╨╜╨╡╨╡ ╨┐╤А╨╛ background-clip */
    color: transparent; }
  .content p {
    font-size: 20px; }

footer {
  background-color: #587B99;
  min-height: 150px;
  clear: both;
  overflow: hidden; }
  footer .contact-info {
    width: 300px;
    float: left;
    font-size: 20px;
    padding: 20px 5px;
    line-height: 24px;
    color: #fff; }
    footer .contact-info h3 {
      font-size: 26px;
      line-height: 50px;
      text-decoration: underline; }
    footer .contact-info a {
      color: #fff;
      text-decoration: none; }

/*# sourceMappingURL=index.css.map */
