body {
  margin: 0;
}

header {
  width: 100%;
  min-height: 150px;
  background-color: #1B3F9D;
  img#logo {
    width: 150px;
    height: auto;
  }
  .navbar-default {
    background-color: #D7D7D7;
    border-color: #e7e7e7;
    margin-bottom: 0;

  }
}

footer {
  background-color: #587B99;
  min-height: 150px;
}
