.content {
	padding: 30px 0;
	h2 {
		font-weight: bold;
		font-size: 30px;
		background: linear-gradient(#5E80A6, #1B3B74); /* подробнее про градиенты */
		-webkit-background-clip: text; /* подробнее про background-clip */
		color: transparent;
		padding-left: 15px;
		@include breakpoint(extra-small) {
			font-size: 23px;
			padding-left: 0;
			text-align: center;
		}
	}
	p{
		font-size:20px;
	}
	@include breakpoint(extra-small) {
		img {
			width: 100%;
			height: auto;
			margin-bottom: 50px;
		}
	}
}