.image-widget{
  float: left;
text-align: right;
  div {
    display: inline-block;
    width: 180px;
    height: 114px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
  }
  @media (min-width: 1200px) {

    width: 905px;
  }
}
